<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--SSO setting-->
  <add key="sp_sso_target_url" value="http://localhost:8080/SSOAuthentication/Login"/>
  <add key="sso_issuer" value="ITAP"/>
  <add key="sso_cer" value="wso2.p12"/>
  <add key="sso_cer_pass" value="wso2carbon"/>
  <add key="sso_certificate" value="wso2.cer"/>
  <add key="idp_sso_target_url" value="https://localhost:9443/samlsso"/>
  <add key="idp_sso_destination_url" value="https://localhost:9443/samlsso"/>
  <!--SSO setting--> 
</appSettings>
